html {
    background-color: rgb(180, 180, 180);
    font-size: 18px;
}
  
.title {
    margin-top: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
  
section {
    background-color:rgb(220, 220, 220);
    padding: 15px 35px 15px 35px;
    margin: 30px 3% 30px 3%;
    border-radius: 25px;
}
  
.titlesection {
    color: rgb(0, 117, 163);
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
}

form {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

form label{
    
    margin-top: 25px;
    
    font-size: 22px;
}
input[type=text]{
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    width: 25%;
    border-radius: 10px;
}

input[type=tel]{
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    width: 25%;
    border-radius: 10px;
}

input[type=email]{
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    width: 25%;
    border-radius: 10px;
}

select {
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    width: 26%;
    border-radius: 10px;
}

textarea {
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    width: 40%;
    height: auto;
    resize: none;
    height: 100px;
    border-radius: 10px;
}


input[type=submit]{
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    width: 10%;
    border-radius: 25px;
    background-color: rgb(24, 144, 224);
}


.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    
}
 
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}